<?xml version="1.0" encoding="utf-8"?>
<Client>
	<Connector>
		<host_>10.41.72.75</host_>
		<user_>fantuanxiaot</user_>
		<password_>fantuanxiaot</password_>
		<port_>3306</port_>
	</Connector>
	<Connector>
		<host_>localhost</host_>
		<user_>root</user_>
		<password_>root942612</password_>
		<port_>3306</port_>
	</Connector>
	<Connector>
		<host_>localhost</host_>
		<user_>root</user_>
		<password_>root942612</password_>
		<port_>3307</port_>
	</Connector>
</Client>
